* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa07a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 3%;
}

#rules {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    margin-bottom: 2%;
    font-size: 1.2em;
}

.scores {
    display: none;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}

.card__image {
    height: 150px;
    width: auto;
}

.player__titles {
    font-size: 1.3em;
    font-weight: 600;
}

#upside-down {
    transform: rotate(180deg);
}

.versus-text {
    font-size: 2em;
    font-weight: 800;
}

#results {
    font-size: 1.3em;
    margin-bottom: 3%;
    font-size: 2em;
    font-weight: 800;
    color: red;
}
#results2 {
    font-size: 1.3em;
    margin-bottom: 3%;
    font-size: 1.1em;
    font-weight: 700;
}

.game-btn {
    padding: 5px;
    font-weight: 600;
    background-color: aqua;
    font-size: 1em;
}

.game-btn:hover {
    background-color: green;
    color: #fff;
}
#exit {
    background-color: grey;
    color: #fff;
    margin-top: 2%;
}

#exit:hover {
    background-color: red;
    color: #fff;
}

.displayNone {
    display: none !important; /* used to hide specific elements*/
}

/* Github icon */
.social-media__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
}
.social-media__icons {
    width: 35px;
    height: auto;
    display: block;
    margin: 5px;
    transition: transform 0.2s; /* Animation */
}

.social-media__icons:hover {
    box-shadow: 0 0 0.9em #fff;
    transform: scale(1.1);
}
