* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa07a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 5%;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card__image {
    height: 150px;
    width: auto;
}

#upside-down {
    transform: rotate(180deg);
}

.versus-text {
    font-size: 2em;
    font-weight: 800;
}

#results {
    font-size: 1.3em;
    margin-bottom: 3%;
}

.game-btn {
    padding: 5px;
    font-weight: 600;
    background-color: aqua;
}
#exit {
    background-color: red;
    color: #fff;
    margin-top: 2%;
}

.displayNone {
    display: none; /* used to hide specific elements*/
}
